<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>精选界面</title>
    <style type="text/css">
        * {
                margin: 0;
                padding: 0;
            }
        .left{
            height:705px;
            width:300px;
            background-color: #bebebe;
        }
        .logo img{
            height:100px;
            width:100px;
            float: left;
            margin-left: 80px;
            margin-top:20px;
        }
        .jingxuan{
            float: left;
            margin-top:28px;
            height: 90px;
            width:300px;
            background-color: blueviolet;
            border:1px;
        }
        .tuijian{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .zhengzhi{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .english{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .zuhanyeke{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .study{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .mine{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .right{
            float: left;
            margin-top: -700px;
            margin-left: 400px;
        }
        .header{
            height:80px;
            width: 1200px;
            /* background-color: blueviolet; */
        }
        .managerM{
            height: 80px;
            width: 200px;
            float: left;
            background-color: #bebebe;
            margin-left: 50px;
            border-radius: 12px;
        }
        .userM{
            height:80px;
            width: 200px;
            margin-left: 800px;
            float: left;
            background-color: #bebebe;
            margin-top:-80px; 
            border-radius: 12px;
        }


        #foot {
            border-collapse: collapse;
            width: 800px;
            margin: 0 auto;
            text-align: center;
            margin-left: 60px;
            margin-top: 10%;
        }
        table {
            border-collapse: collapse;
            width: 885px;
            margin-left: 80px;
            /* margin-top:150px; */
            text-align: center;
            display: block;
            margin-top: 50px;
        }
        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 45px;
        }
        table thead th {
            background-color: #CCE8EB;
            width: 280px;
            margin-left: 20px;
            /* padding-left: 200px; */
        }
        table tr:nth-child(odd) {
            background: #fff;
        }
        table tr:nth-child(even) {
            background: #F5FAFA;
        }
        #action{
            background-color: #CCE8EB;
            border: 1px solid #eee;
            /* margin-top:200px; */
            width: 160px;    
        }
        table tr {
            background: #fff;
        }

        .container {
            margin-top: 80px;
        }
        button{
            /* background-color: #1daea9; */
        }
        /* .table{
            margin-top:35px;
            margin-left: 250px;
        }
        .serch{
            margin-left: 20px;
            width:600px;
            height: 30px;
        }
        .serch0{
            margin-left: 20px;
        } */
    </style>
</head>
<body>
    <div class="culling-border">
        <div class="left">
            <div class="logo">
                <img src="../images/logo.png">
            </div>
            <div class="jingxuan" onclick="culling()">
                精选
            </div>
            <div class="tuijian" onclick="tuijian()">
                推荐
            </div>
            <div class="zhengzhi" onclick="zhengzhi()">
                政治
            </div>
            <div class="english" onclick="english()">
                英语
            </div>
            <div class="zuhanyeke" onclick="zhuanyeke()">
                专业课
            </div>
            <div class="study" onclick="study()">
                学习
            </div>
            <div class="mine" onclick="mine()">
                我的
            </div>
        </div>
        <div class="right">
            <div class="header">
                <div class="managerM" onclick="manager()">
                    管理员信息
                </div>
                <div class="userM" onclick="user()">
                    用户信息
                </div>
            </div>
            <table  class="table">
                <thead>
                    <tr>
                        <!-- <th>活动ID</th> -->
                        <th>注意事项</th>
                        <th>科目</th>
                        <th>相关内容</th>
                        <!-- <th></th> -->
                        <th id="action">编辑</th>
                        <!-- <th></th> -->
                        <th id="action">删除</th>
                    </tr>
                </thead>
    
                <tbody id="result"></tbody>
                <%for(var i=0;i < culling.length;i++){%>
                    <tr>
                        <td>
                            <%= culling[i]["Sname"]%>
                        </td>
                        <td>
                            <%= culling[i]["subject"]%>
                        </td>
                        <td>
                            <%= culling[i]["content"]%>
                        </td>
                        <!-- <th></th> -->
                        <th><button>
                            <!-- <a href="/culling?signId=<%=culling[i]["signId"]%>"> -->
                            编辑
                        </button></th>
                        
                        <!-- <th></th> -->
                        <td>
                                <button>
                                    <!-- <a href="/delbm?signId=<%=culling[i]["signId"]%>&&activeId=<%=culling[i]["activeId"]%>"> -->
                                    删除
                                <!-- </a> -->
                                </button>
                        </td>
                    </tr>
                <%}%>
                
    
            </table>
            <div id="foot">
                <p style="float: left;" onclick="showAct()">返回上一页</p>
                <p style="float: right;">确认</p>
            </div>
        </div>
    </div>
</body>
<script>
    function culling() {
        window.location = "http://localhost:3000/culling";
    }
    function tuijian() {
        window.location = "http://localhost:3000/tuijian";
    }
    function zhengzhi() {
        window.location = "http://localhost:3000/zhengzhi";
    }
    function english() {
        window.location = "http://localhost:3000/english";
    }
    function zhuanyeke() {
        window.location = "http://localhost:3000/zhuanyeke";
    }
    function study() {
        window.location = "http://localhost:3000/study";
    }
    function mine() {
        window.location = "http://localhost:3000/mine";
    }
    function manager(){
        window.location = "http://localhost:3000/managerM"
    }
    function user(){
        window.location = "http://localhost:3000/userM"
    }
</script>

</html>