<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>精选界面</title>
    <style type="text/css">
        * {
                margin: 0;
                padding: 0;
            }
        .left{
            height:705px;
            width:300px;
            background-color: #bebebe;
        }
        .logo img{
            height:100px;
            width:100px;
            float: left;
            margin-left: 80px;
            margin-top:20px;
        }
        .jingxuan{
            float: left;
            margin-top:28px;
            height: 90px;
            width:300px;
            background-color: blueviolet;
            border:1px;
        }
        .tuijian{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .zhengzhi{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .english{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .zuhanyeke{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .study{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .mine{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .right{
            float: left;
            margin-top: -700px;
            margin-left: 400px;
        }
        .header{
            height:80px;
            width: 1200px;
            /* background-color: blueviolet; */
        }
        .managerM{
            height: 80px;
            width: 200px;
            float: left;
            background-color: #bebebe;
            margin-left: 50px;
            border-radius: 12px;
        }
        .userM{
            height:80px;
            width: 200px;
            margin-left: 800px;
            float: left;
            background-color: #bebebe;
            margin-top:-80px; 
            border-radius: 12px;
        }


        #foot {
            border-collapse: collapse;
            width: 800px;
            margin: 0 auto;
            text-align: center;
            margin-left: 60px;
            margin-top: 10%;
        }
        table {
            border-collapse: collapse;
            width: 885px;
            margin-left: 80px;
            /* margin-top:150px; */
            text-align: center;
            display: block;
            margin-top: 50px;
        }
        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 45px;
        }
        table thead th {
            background-color: #CCE8EB;
            width: 280px;
            margin-left: 20px;
            /* padding-left: 200px; */
        }
        table tr:nth-child(odd) {
            background: #fff;
        }
        table tr:nth-child(even) {
            background: #F5FAFA;
        }
        #action{
            background-color: #CCE8EB;
            border: 1px solid #eee;
            /* margin-top:200px; */
            width: 160px;    
        }
        table tr {
            background: #fff;
        }

        .container {
            margin-top: 80px;
        }
        /* button{
            background-color: #1daea9;
        } */
        /* .table{
            margin-top:35px;
            margin-left: 250px;
        }
        .serch{
            margin-left: 20px;
            width:600px;
            height: 30px;
        }
        .serch0{
            margin-left: 20px;
        } */
        #divv{
            width:1200px;
            height: 120px;
        }
        #divv input{
            width:800px;
            height: 80px;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <div class="culling-border">
        <div class="left">
            <div class="logo">
                <img src="../images/logo.png">
            </div>
            <div class="jingxuan" onclick="culling()">
                精选
            </div>
            <div class="tuijian" onclick="tuijian()">
                推荐
            </div>
            <div class="zhengzhi" onclick="zhengzhi()">
                政治
            </div>
            <div class="english" onclick="english()">
                英语
            </div>
            <div class="zuhanyeke" onclick="zhuanyeke()">
                专业课
            </div>
            <div class="study" onclick="study()">
                学习
            </div>
            <div class="mine" onclick="mine()">
                我的
            </div>
        </div>
        <div class="right">
            <form class="zhuce" action="/editUserMAcitve?userID=<%=editUserMList[0].userID%>" method="POST">
                <div class="divv" id="divv">
                    <h3>名称:</h3>
                    <input type="text" name="Sname" value=<%=editUserMList[0].name%>>
                </div>
                <div class="divv" id="divv">
                    <h3>用户ID:</h3>
                    <input type="text" name="subject" value=<%=editUserMList[0].userID%>>
                </div>
                <div class="divv" id="divv">
                    <h3>手机号:</h3>
                    <input type="text" name="content" value=<%=editUserMList[0].iphoneNum%>>
                </div>
                <div class="divv" id="divv">
                    <h3>密码:</h3>
                    <input type="text" name="cId" value=<%=editUserMList[0].userPW%>>
                </div>
                <div class="divv" id="divv">
                    <h3>座右铭:</h3>
                    <input type="text" name="cId" value=<%=editUserMList[0].motto%>>
                </div>
                <div class="divv" id="divv">
                    <h3>科目:</h3>
                    <input type="text" name="cId" value=<%=editUserMList[0].subject%>>
                </div>
                <div><button>确认</button></div>
                
            </form>

        </div>
    </div>
</body>
<script>
    
</script>

</html>