<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>精选界面</title>
    <style type="text/css">
         .left{
            height:705px;
            width:300px;
            float: left;
            background-color: #bebebe;
        }
        .logo img{
            height:100px;
            width:100px;
            float: left;
            margin-left: 80px;
            margin-top:20px;
        }
        .jingxuan{
            float: left;
            margin-top:28px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .study{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color:#bebebe;
            border:1px;
        }
        .mine{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: blueviolet;
            border:1px;
        }
        .xiangxi{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: blueviolet;
            border:1px;
        }
        .fenshu{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .dingdan{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .cengjing{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .right{
            height:50px;
            margin-left: 12px;
            /* background-color: bisque; */
        }
        .right p{
            padding-left: 200px;
            margin-left: 600px;
            padding-top:10px;
            margin-top:10px;
        }
        .table0{
            margin-top:35px;
            margin-left: 250px;
        }
        .serch{
            margin-left: 220px;
            width:600px;
            height: 30px;
        }
        .serch0{
            margin-left: 20px;
        }
        table {
            border-collapse: collapse;
            width: 885px;
            margin-left: 400px;
            /* margin-top:150px; */
            text-align: center;
            display: block;
            margin-top: 100px;
        }
        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 45px;
        }
        table thead th {
            background-color: #CCE8EB;
            width: 300px;
        }
        table tr:nth-child(odd) {
            background: #fff;
        }
        table tr:nth-child(even) {
            background: #F5FAFA;
        }
        #divv{
            width:1200px;
            height: 90px;
        }
        #divv input{
            width:800px;
            height: 60px;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <div class="culling-border">
        <div class="left">
            <div class="logo">
                <img src="../images/logo.png">
            </div>
            <!-- <div class="jingxuan" onclick="jingxuan()">
                精选
            </div>
            <div class="study" onclick="study()">
                学习
            </div>
            <div class="mine" onclick="mine()">
                我的
            </div> -->
            <div class="jingxuan" onclick="culling()">
                精选
            </div>
            <div class="study" onclick="study()">
                学习
            </div>
            <div class="mine" onclick="mine()">
                我的
            </div>
            <div class="xiangxi" onclick="xiangxi()">
                详细信息
            </div>
            <div class="fenshu" onclick="fenshu()">
                分数统计
            </div>
            <div class="dingdan" onclick="dingdan()">
                我的订单
            </div>
            <div class="cengjing" onclick="cengjing()">
                历史课程
            </div>
        </div>
        </div>
        <div class="right">
            <form class="zhuce" action="/editXiangxiAcitve?userID=<%=editXiangxiList[0].userID%>" method="POST">
                <div class="divv" id="divv">
                    <h3>名称:</h3>
                    <input type="text" name="Sname" value=<%=editXiangxiList[0].name%>>
                </div>
                <div class="divv" id="divv">
                    <h3>用户ID:</h3>
                    <input type="text" name="subject" value=<%=editXiangxiList[0].userID%>>
                </div>
                <div class="divv" id="divv">
                    <h3>手机号:</h3>
                    <input type="text" name="content" value=<%=editXiangxiList[0].iphoneNum%>>
                </div>
                <div class="divv" id="divv">
                    <h3>密码:</h3>
                    <input type="text" name="cId" value=<%=editXiangxiList[0].userPW%>>
                </div>
                <div class="divv" id="divv">
                    <h3>座右铭:</h3>
                    <input type="text" name="cId" value=<%=editXiangxiList[0].motto%>>
                </div>
                <div class="divv" id="divv">
                    <h3>科目:</h3>
                    <input type="text" name="cId" value=<%=editXiangxiList[0].subject%>>
                </div>
                <div style='margin-top:30px'><button>确认</button></div>
                
            </form>

        </div>
    </div>
</body>
<script>
    function culling() {
        window.location = "http://localhost:3000/culling";
    }
    function study() {
        window.location = "http://localhost:3000/study";
    }
    function mine() {
        window.location = "http://localhost:3000/mine";
    }
    function xiangxi() {
        window.location = "http://localhost:3000/xiangxi";
    }
    function fenshu() {
        window.location = "http://localhost:3000/fenshu";
    }
    function dingdan() {
        window.location = "http://localhost:3000/dingdan";
    }
    function cengjing() {
        window.location = "http://localhost:3000/cengjing";
    }
</script>

</html>