<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员信息</title>
    <style type="text/css">
        table {
            border-collapse: collapse;
            width: 885px;
            margin: 0 auto;
            text-align: center;
            display: block;
            margin-top: 100px;
        }
        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 45px;
        }
        table thead th {
            background-color: #CCE8EB;
            width: 220px;
        }
        table tr:nth-child(odd) {
            background: #fff;
        }
        table tr:nth-child(even) {
            background: #F5FAFA;
        }

    </style>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    管理员ID
                </th>
                <th>
                    管理员姓名
                </th>
                <th>
                    登录密码   
                </th>
                <th>
                    手机号
                </th>
                <th>
                    职位
                </th>
                <th>
                    编辑表格
                </th>
            </tr>
        </thead>
        <tbody id="result"></tbody>
        <%for(var i=0;i < managerList.length;i++){%>
            <tr>
                <td>
                    <%= managerList[i]["managerID"]%>
                </td>
                <td>
                    <%= managerList[i]["Mname"]%>
                </td>
                <td>
                    <%= managerList[i]["PW"]%>
                </td>
                <td>
                    <%= managerList[i]["pNum"]%>
                </td>
                <td>
                    <%= managerList[i]["zhiwei"]%>
                </td>
                <td>
                <button>
                    <!-- <a href="/editB?signId=<%=managerList[i]["signId"]%>"> -->
                    编辑
                </button></td>
                <td>
                    <button>
                        <a href="/delM?managerID=<%=managerlist[i]["managerID"]%>">删除</a>
                    </a>
                    </button>
                </td>
            </tr>
        <%}%>
    </table>
</body>
</html>