<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的界面</title>
    <style type="text/css">
        .left{
            height:705px;
            width:300px;
            background-color: #bebebe;
        }
        .logo img{
            height:100px;
            width:100px;
            float: left;
            margin-left: 80px;
            margin-top:20px;
        }
        .jingxuan{
            float: left;
            margin-top:28px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .study{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color:#bebebe;
            border:1px;
        }
        .mine0{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: blueviolet;
            border:1px;
        }
        .xiangxi{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .fenshu{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .dingdan{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .cengjing{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        table {
            border-collapse: collapse;
            width: 885px;
            margin-left: 400px;
            /* margin-top:150px; */
            text-align: center;
            display: block;
            margin-top: -600px;
        }
        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 45px;
        }
        table thead th {
            background-color: #CCE8EB;
            width: 300px;
        }
        table tr:nth-child(odd) {
            background: #fff;
        }
        table tr:nth-child(even) {
            background: #F5FAFA;
        }
    </style>
</head>
<body>
    <div class="culling-border">
        <div class="left">
            <div class="logo">
                <img src="../images/logo.png">
            </div>
            <div class="jingxuan" onclick="culling()">
                精选
            </div>
            <div class="study" onclick="study()">
                学习
            </div>
            <div class="mine0">
                我的
            </div>
            <div class="xiangxi" onclick="xiangxi()">
                详细信息
            </div>
            <div class="fenshu" onclick="fenshu()">
                分数统计
            </div>
            <div class="dingdan" onclick="dingdan()">
                我的订单
            </div>
            <div class="cengjing" onclick="cengjing()">
                历史课程
            </div>
        </div>
        <table  class="table">
            <thead>
                <tr>
                    <!-- <th>活动ID</th> -->
                    <th>用户ID</th>
                    <th>用户名</th>
                    <th>登录密码</th>
                    <th>手机号</th>
                    <th>用户座右铭</th>
                    <th>专业</th>
                    <!-- <th></th> -->
                    <th id="action">编辑</th>
                    <!-- <th></th> -->
                    <th id="action">删除</th>
                </tr>
            </thead>

            <tbody id="result"></tbody>
            <%for(var i=0;i < userlist.length;i++){%>
                <tr>
                    <td>
                        <%= userlist[i]["userlistID"]%>
                    </td>
                    <td>
                        <%= userlist[i]["name"]%>
                    </td>
                    <td>
                        <%= userlist[i]["userlistPW"]%>
                    </td>
                    <td>
                        <%= userlist[i]["iphoneNum"]%>
                    </td>
                    <td>
                        <%= userlist[i]["motto"]%>
                    </td>
                    <td>
                        <%= userlist[i]["subject"]%>
                    </td>
                    <!-- <th></th> -->
                    <th><button>
                        <!-- <a href="/userlist?signId=<%=userlist[i]["signId"]%>"> -->
                        编辑
                    </button></th>
                    
                    <!-- <th></th> -->
                    <td>
                        <button>
                            <a href="/delusers?userID=<%=userlist[i]["userID"]%>">删除</a>
                        </a>
                        </button>
                    </td>
                </tr>
            <%}%>
            

        </table>
        <div id="foot">
            <p style="float: left;" onclick="showAct()">返回上一页</p>
            <p style="float: right;">确认</p>
        </div>
    </div>
</body>
<script>
    function culling() {
        window.location = "http://localhost:3000/culling";
    }
    function study() {
        window.location = "http://localhost:3000/study";
    }
    // function mine() {
    //     window.location = "http://localhost:3000/mine";
    // }
    function xiangxi() {
        window.location = "http://localhost:3000/xiangxi";
    }
    function fenshu() {
        window.location = "http://localhost:3000/fenshu";
    }
    function dingdan() {
        window.location = "http://localhost:3000/dingdan";
    }
    function cengjing() {
        window.location = "http://localhost:3000/cengjing";
    }
</script>

</html>