<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学习</title>
    <style>
        .left{
            height:705px;
            width:300px;
            background-color: #bebebe;
        }
        .logo img{
            height:100px;
            width:100px;
            float: left;
            margin-left: 80px;
            margin-top:20px;
        }
        .jingxuan{
            float: left;
            margin-top:28px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .study{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: blueviolet;
            border:1px;
        }
        .renwu{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .danci{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .tiku{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .qikan{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .kecheng{
            float: left;
            margin-top: 2px;
            height: 60px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .mine{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        #foot {
            border-collapse: collapse;
            width: 800px;
            margin: 0 auto;
            text-align: center;
            margin-left: 60px;
            margin-top: 10%;
        }
    </style>
</head>
<body>
    <div class="culling-border">
        <div class="left">
            <div class="logo">
                <img src="../images/logo.png">
            </div>
            <div class="jingxuan" onclick="culling()">
                精选
            </div>
            <div class="study" onclick="study()">
                学习
            </div>
            <div class="renwu" onclick="renwu()">
                任务
            </div>
            <div class="danci" onclick="danci()">
                单词
            </div>
            <div class="tiku" onclick="tiku()">
                题库
            </div>
            <div class="qikan" onclick="qikan()">
                期刊
            </div>
            <div class="kecheng" onclick="kecheng()">
                在线课程
            </div>
            <div class="mine" onclick="mine()">
                我的
            </div>
        </div>
        <table  class="table">
            <thead>
                <tr>
                    <!-- <th>活动ID</th> -->
                    <th>学习任务</th>
                    <th>内容</th>
                    <th>学科</th>
                    <!-- <th></th> -->
                    <th id="action">编辑</th>
                    <!-- <th></th> -->
                    <th id="action">删除</th>
                </tr>
            </thead>

            <tbody id="result"></tbody>
            <%for(var i=0;i < study.length;i++){%>
                <tr>
                    <td>
                        <%= study[i]["title"]%>
                    </td>
                    <td>
                        <%= study[i]["content"]%>
                    </td>
                    <td>
                        <%= study[i]["subject"]%>
                    </td>
                    </td>
                    <!-- <th></th> -->
                    <th><button>
                        <!-- <a href="/study?signId=<%=study[i]["signId"]%>"> -->
                        编辑
                    </button></th>
                    
                    <!-- <th></th> -->
                    <td>
                            <button>
                                <!-- <a href="/delbm?signId=<%=study[i]["signId"]%>&&activeId=<%=study[i]["activeId"]%>"> -->
                                删除
                            <!-- </a> -->
                            </button>
                    </td>
                </tr>
            <%}%>
            

        </table>
        <div id="foot">
            <p style="float: left;" onclick="showAct()">返回上一页</p>
            <p style="float: right;">确认</p>
        </div>
    </div>
</body>
<script>
    function culling() {
        window.location = "http://localhost:3000/culling";
    }
    function study() {
        window.location = "http://localhost:3000/study";
    }
    function renwu() {
        window.location = "http://localhost:3000/renwu";
    }
    function danci() {
        window.location = "http://localhost:3000/danci";
    }
    function tiku() {
        window.location = "http://localhost:3000/tiku";
    }
    function qikan() {
        window.location = "http://localhost:3000/qikan";
    }
    function kecheng() {
        window.location = "http://localhost:3000/kecheng";
    }
    function mine() {
        window.location = "http://localhost:3000/mine";
    }
</script>

</html>