<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>推荐</title>
    <style type="text/css">
    * {
            margin: 0;
            padding: 0;
        }
        .left{
            height:705px;
            width:300px;
            background-color: #bebebe;
            float: left;
        }
        .logo img{
            height:100px;
            width:100px;
            float: left;
            margin-left: 80px;
            margin-top:20px;
        }
        .jingxuan{
            float: left;
            margin-top:28px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .tuijian{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: blueviolet;
            border:1px;
        }
        .zhengzhi{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .english{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .zuhanyeke{
            float: left;
            margin-top: 2px;
            height: 70px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .study{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .mine{
            float: left;
            margin-top: 2px;
            height: 90px;
            width:300px;
            background-color: #bebebe;
            border:1px;
        }
        .right{
            height:50px;
            margin-left: 12px;
            /* background-color: bisque; */
        }
        .right p{
            padding-left: 200px;
            margin-left: 600px;
            padding-top:10px;
            margin-top:10px;
        }
        .table0{
            margin-top:5px;
            margin-left: 250px;
        }
        .serch{
            margin-left: 220px;
            width:600px;
            height: 30px;
        }
        .serch0{
            margin-left: 20px;
        }
        table {
            border-collapse: collapse;
            width: 885px;
            margin-left: 400px;
            /* margin-top:150px; */
            text-align: center;
            display: block;
            margin-top: 50px;
        }
        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 45px;
        }
        table thead th {
            background-color: #CCE8EB;
            width: 300px;
        }
        table tr:nth-child(odd) {
            background: #fff;
        }
        table tr:nth-child(even) {
            background: #F5FAFA;
        }
        #action{
            background-color: #CCE8EB;
            border: 1px solid #eee;
            width: 260px;    
        }
        .container {
            margin-top: 80px;
        }
        button{
            /* background-color: #1daea9; */
        }
        #foot {
            border-collapse: collapse;
            width: 1000px;
            margin: 0 auto;
            text-align: center;
            margin-left: 200px;
            padding-left: 120px;
            margin-top: 40%;
        }
        

    </style>
</head>
<body>
    <div class="culling-border">
        <div class="left">
            <div class="logo">
                <img src="../images/logo.png">
            </div>
            <div class="jingxuan" onclick="culling()">
                精选
            </div>
            <div class="tuijian" onclick="tuijian()">
                推荐
            </div>
            <div class="zhengzhi" onclick="zhengzhi()">
                政治
            </div>
            <div class="english" onclick="english()">
                英语
            </div>
            <div class="zuhanyeke" onclick="zhuanyeke()">
                专业课
            </div>
            <div class="study" onclick="study()">
                学习
            </div>
            <div class="mine" onclick="mine()">
                我的
            </div>
        </div>
        <div class="right">
            <p>关于推荐的表格</p>
            <div class="table0">
                <input type="text" class="serch">
                <button class="serch0">
                    查询
                </button>
            </div>
            <table  class="table">
                <thead>
                    <tr>
                        <!-- <th>活动ID</th> -->
                        <th>名称</th>
                        <th>具体内容</th>
                        <th id="action">编辑</th>
                        <!-- <th></th> -->
                        <th id="action">删除</th>
                    </tr>
                </thead>
                <tbody id="result"></tbody>
                <%for(var i=0;i < tuijian.length;i++){%>
                    <tr>
                        <td>
                            <%= tuijian[i]["Tname"]%>
                        </td>
                        <td>
                            <%= tuijian[i]["content"]%>
                        </td>
                        <td>
                        <button>
                            <!-- <a href="/editB?signId=<%=tuijian[i]["signId"]%>"> -->
                            编辑
                        </button></td>
                        <td>
                                <button>
                                    <!-- <a href="/delbm?signId=<%=tuijian[i]["signId"]%>&&activeId=<%=tuijian[i]["activeId"]%>"> -->
                                    删除
                                <!-- </a> -->
                                </button>
                        </td>
                    </tr>
                <%}%>
                
                <!-- <tr>
                    <td>英语书籍</td>
                    <td>红宝书、恋练有词、考研真相、黄皮书、真题超精解、考研英语高分写作、王江涛的考研英语高分写作字帖</td>
                    <td>
                        <button>编辑</button>
                        <button>删除</button>
                    </td>
                </tr>
                <tr>
                    <td>考研政治</td>
                    <td>肖秀荣《1000题》、肖秀荣《知识点精讲精练》、肖秀荣《命题冲刺8套卷》、肖秀荣《命题终极预测4套卷》、徐涛20题</td>
                    <td>
                        <button>编辑</button>
                        <button>删除</button>
                    </td>
                </tr>
                <tr>
                    <td>考研数学</td>
                    <td>李永乐、王式安考研数学复习全书、张宇36讲、张宇1000题、张宇真题大全讲、合工大五套卷、高数18讲</td>
                    <td>
                        <button>编辑</button>
                        <button>删除</button>
                    </td>
                </tr>
                <tr>
                    <td>考研专业课</td>
                    <td>专业课复习并没有太多的方法论，就是一个很简单的事，书读百遍，其义自见。</td>
                    <td>
                        <button>编辑</button>
                        <button>删除</button>
                    </td>
                </tr>
                <tr>
                    <td>考研建议</td>
                    <td>不要着急！考研和高考一样，就是一场考试。考试最重要的就是弄懂所有知识点，然后在考场上多做几道题。而你在接下来的一年里需要做的无非就是好好学习，天天向上罢了。</td>
                    <td>
                        <button>编辑</button>
                        <button>删除</button>
                    </td>
                </tr> -->
            </table>
        </div>
        <div id="foot">
            <p style="float: left;" onclick="showAct()">返回上一页</p>
            <p style="float: right;">确认</p>
        </div>
    </div>
</body>
<script>
    function culling() {
        window.location = "http://localhost:3000/culling";
    }
    function tuijian() {
        window.location = "http://localhost:3000/tuijian";
    }
    function zhengzhi() {
        window.location = "http://localhost:3000/zhengzhi";
    }
    function english() {
        window.location = "http://localhost:3000/english";
    }
    function zhuanyeke() {
        window.location = "http://localhost:3000/zhuanyeke";
    }
    function study() {
        window.location = "http://localhost:3000/study";
    }
    function mine() {
        window.location = "http://localhost:3000/mine";
    }
</script>

</html>